doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dark Dance Academy
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600&display=swap', rel='stylesheet')
    script(src='/static/index.js')
    block scripts
    block style
    link(rel='icon', type='image/png', href='/static/fav.ico')
  body
    nav#navbar
        div#logo
            img(src="/static/dance-logo.png")
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        div.box#box-1
            h4 Menu
            ul
                li Home
                li About
                li Services
                li Classes
        div.box#box-2
            h4 Menu
            ul
                li Home
                li About
                li Services
                li Classes
        div.box#box-3
            h4 Menu
            ul
                li Home
                li About
                li Services
                li Classes
        div.box#box-4
            h4 Menu
            ul
                li Home
                li About
                li Services
                li Classes
        div.box#box-5
            ul
                li Copyright ©2023 All Rights Reserved
                li Dark Dance Academy Pvt. Ltd
