@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600&display=swap');

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

.centerbox {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 17vh;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  max-width: 500px;
  padding: 2vw;
}

input,
select,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.btn {
  width: 120px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #c62828;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a61c1c;
}
